body {
    background-color: rgb(232, 255, 255);
    user-select: none;
    overflow: hidden;
}

.balloon {
    width: 85px;
    height: 150px;
    border-radius: 50% 50% 50% 50% / 40% 40% 60% 60%;
    text-align: right;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.3);
    cursor: crosshair;
    position: absolute;
    bottom: 0%;
    transition: opacity 0.1s, transform 0.1s ease-out;
}

.balloon1 {
    border-right: 15px solid rgb(235, 0, 0);
    background-color: red;
}

.balloon2 {
    border-right: 15px solid rgb(64, 98, 184);
    background-color: royalblue;
}

.shine {
    display: inline-block;
    transform: rotateZ(-63deg);
    font-size: 80px;
    color: white;
    text-shadow: 5px 0px 15px rgba(255, 255, 255, 0.9);
}

.string {
    cursor: auto;
    width: 0px;
    height: 210px;
    float: left;
    border: 1px #ccc dashed;
    margin-left: 50px;
    margin-top: 55px;
    box-shadow: 4px -4px 7px rgba(0, 0, 0, 0.5);
}

/* Better looking but worse performance string */

/* .string {
    text-decoration-line: underline;
    text-decoration-style: wavy;
    transform: rotateZ(90deg);
    -webkit-transform: rotateZ(90deg);
    color: #bbb;
    padding-top: 70px;
    margin-left: 50px;
    text-shadow: 4px -4px 3px rgba(0, 0, 0, 0.5);
    backface-visibility: hidden; /* Deletes the curved string style and fix the rendering bug
} */